body {
	background: #16a085;
	display: flex;
  flex-flow : row;
  flex-basis: auto;
  min-height: 100vh;
}

.round {
  display: flex;
  flex-flow: column;
  width: 15%;
  justify-content: space-around;
}

.space {
  min-height: 30px;
  min-height: 80%;
  border-right: 1px solid black;
}

.round.round-two {
  justify-content: space-around;
}

.matchup {
  margin-bottom: 25%;
}

.team-top {
	border-bottom: 1px solid black;
	padding: .2em;
  padding-left: .5em;
}

.team-bottom {
	border-top: 1px solid black;
	padding: .2em;
  padding-left: .5em;
}


