/* Container */
#bracket-container {
    display: flex;
}

/* Round Styling */
.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.round:not(:last-child) {
    margin-right: 20px;
}

/* Bracket Game Styling */
.bracket-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 10px 0; 
}

/* Player Styling */
.player {
    min-width: 100px;
    height: 40px;
    border: 1px solid #AAA;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player.top {
    border-radius: 3px 3px 0 0;
}

.player.bot {
    border-radius: 0 0 3px 3px;
}

.player .score {
    border-left: 1px solid #AAA;
    padding-left: 10px;
    padding-right: 10px;
    background: #EEE;
}

.player.win {
    background-color: #B8F2B8;
}

.player.loss {
    background-color: #F2B8B8;
}

.player.win a.name {
    font-weight: bold;
    color: green;  /* Adjust as per design preference */
}
