body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
}

main{
    display:flex;
    flex-direction:row;
}

.round{
    display: flex;
    flex-direction: column;
    width: 200px;
    list-style: none;
    padding: 0;
    align-items: center;
}

.round .spacer {
    flex-grow:1;
    min-height:10px;  
}

.round .spacer:first-child,
.round .spacer:last-child {
    flex-grow:.5;
}

.round .game-spacer {
    flex-grow:1;
    border-right:1px solid #aaa;
    min-height:40px;
}

li.game {
    width: 100%;
    position: relative;  /* allows positioning children relative to this */
}

li.game.winner {
    font-weight:bold;
}

li.game span {
    float:right;
    margin-right:5px;
}

li.game-top {
    border-bottom:1px solid #aaa;
    margin-bottom: 10px; 
}

li.game-bottom {
    border-top:1px solid #aaa;
    margin-top: 10px; 
} 

/*
 *  Flex Layout Specifics
*/
/* main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  } */
