@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F4FA; 
    color: #5C5C5C;
    margin: 0;
    padding: 0;
}

.tournament-details {
    max-width: 900px;
    margin: 50px auto;
    background-color: #FEF9E7; 
    padding: 30px 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    border-left: 5px solid #FADADD; 
}

.tourney-title {
    border-bottom: 3px dashed #E0E0E0;
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-size: 28px;
    color: #FADADD; 
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #5C5C5C; 
    background: linear-gradient(90deg, rgba(250, 218, 221, 0.5) 0%, rgba(250, 218, 221, 0) 100%); /* Gradient with pastel pink */
    padding: 5px 10px;
    display: inline-block;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #F2F4FA; 
}

li:last-child {
    border-bottom: none;
}

li > strong {
    font-weight: bold;
    margin-right: 8px;
    color: #5C5C5C; 
}

.countdown-section {
    background-color: #FADADD; 
    color: #5C5C5C; 
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
}

#countdown {
    font-size: 24px;
    margin-top: 10px;
}

.registration button {
    background-color: #FADADD; 
    color: #5C5C5C; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.registration button:hover {
    background-color: #F9E6E4; 
}

.registered-users {
    margin-top: 20px;
}

.registered-users h3 {
    color: #5C5C5C;
    border-bottom: 2px dashed #E0E0E0;
    padding-bottom: 10px;
}

.edit-button {
    float: right;
}

.registrant-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E0E0E0;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #FEF9E7; 
    border-radius: 5px;
}

.registrant-info strong {
    display: block;
    margin-bottom: 5px;
}

#bracket {
    display: none;
}

#endTournament {
    display: none;
}

.connector .line, .merger {
    box-sizing: border-box;
    width: 2rem;
    display: inline-block;
    vertical-align: top;
    }
    
    
    .line {
    border-bottom: thin solid #c0c0c8;
    height: 4rem;
    }
    
    
    .merger {
    position: relative;
    height: 8rem;
    }
    
    
    .merger:before, .merger:after {
    content: "";
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border: 0 solid;
    border-color: #c0c0c8;
    }
    

.merger:before {
    border-right-width: thin;
    border-top-width: thin;
    }
    
    
    .merger:after {
    border-right-width: thin;
    border-bottom-width: thin;
    }
    
    
    .round{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2rem;
    margin-right: 20px;
    }
    
    
    .round .winners:not(:last-child){
    margin-bottom: 2rem;
    }
    
    
    .round .matchups .matchup:not(:last-child){
    margin-bottom: 2rem;
    }
    

.winners[data-matchups='1'] {
    margin-bottom: 0;
    }
    
    
    .winners[data-matchups='2'] {
    margin-bottom: 2rem;
    }
    
    
    .winners[data-matchups='4'] {
    margin-bottom: 6rem;
    }
    
    
    .winners[data-matchups='8'] {
    margin-bottom: 12rem;
    }
    

.bracket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.bracket {
    display: inline-block;
    white-space: nowrap;
    font-size: 0;
}

.winner-display {
    font-size: 36px;
    font-weight: bold;
    margin-left: 50px; 
    padding: 20px;
    border: 2px solid #FADADD;
    background-color: #FEF9E7; 
    width: 300px;
    height: 100px;
    text-align: center;
    align-self: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.winner-name {
    border: 2px solid #FADADD; 
    padding: 10px;
    border-radius: 5px;
}

.winners > div {
    display: inline-block;
    vertical-align: middle;
    }
    
    
    .matchups .matchup .participants {
    border-radius: 0.25rem;
    overflow: hidden;
    }
    
    
    .participant {
    box-sizing: border-box;
    color: #858585;
    border-left: 0.25rem solid #858585;
    background: white;
    width: 14rem;
    height: 3rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    }
    

.participant:hover {
    cursor: pointer;
    background-color: #F9F9F9;
}

.participant.loser {
    color: #dc563f;
    border-color: #dc563f;
    }

    .participant.winner {
        color: #60c645;
        border-color: #60c645;
        }
        
    
    
    .participant:not(:last-child) {
    border-bottom: thin solid #f0f2f2;
    }
    
    
    .participant span {
    margin: 0 1.25rem;
    line-height: 3;
    font-size: 1rem;
    font-family: "Roboto Slab", serif;
    }
    

.selected {
    background-color: #EAF8EA; 
}

.results-container {
    padding: 20px;
    background-color: #FEF9E7; 
}

.round-result {
    margin-bottom: 20px;
}

.winner {
    color: #A8E6CE;
    font-weight: bold;
    margin: 10px 0;
}
